.habit-chart-container {
    height: calc(100vh - 66px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 32px;
}

@media (max-width: 480px){
    .habit-chart-container {
        padding: 16px;
    }

    .habit-chart-container canvas {
        height: 35% !important;
    }
}