/* Sidebar Animation */
@keyframes sidebar-open {
    0% {
        transform: translateX(-110%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes sidebar-close {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-110%);
    }
}

/* General Styling */
.side-bar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    background-color: #fff;
    z-index: 3;
    transition: opacity 0.3s ease, transform 0.3s ease;
    /* Smooth opacity and transform transitions */
    transform: translateX(0);
    /* Initially visible */
}

.sidebar-header {
    border-bottom: 2px solid #ccc;
    margin-bottom: 16px;
}

.sidebar-header div {
    margin-bottom: 16px;
}

.side-bar svg {
    height: 20px;
    width: 20px;
}

.sidebar-appname {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 0;
    margin-right: 20px;
}

.sidebar-main h1 {
    font-size: 22px;
    margin-bottom: 16px;
}

/* Navigation Link Styling */
.nav-link {
    display: flex;
    align-items: center;
    padding: 8px;
    margin-bottom: 5px;
    font-size: 18px;
    color: #333;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
    border-radius: 12px;
}

.nav-link:hover {
    background-color: #67c8d5;
    color: #007bff;
}

.nav-link p {
    margin: 0;
}

.nav-link svg {
    margin-right: 10px;
    color: black;
}

/* Footer Logout Button */
.sidebar-footer {
    margin-bottom: 5px;
}

.sidebar-footer .btn {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
}

.sidebar-footer p {
    margin-left: 10px;
    margin-bottom: 0;
    font-size: 16px;
    vertical-align: middle;
    text-align: center;
}

/* When Sidebar is collapsed, apply close animation */
.collapsed {
    animation: sidebar-close 0.5s forwards;
}

/* When Sidebar is expanded, apply open animation */
.expanded {
    animation: sidebar-open 0.5s forwards;
}
