.calendar-navigation {
    border: 1px solid black;
    margin-bottom: 16px;
    border-radius: 30px;
    padding: 8px;
}

.calendar-navigation span {
    font-size: 24px;
}

.calendar-navigation svg {
    font-size: 30px;
}

.calendar-day-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2B90ED;
    border: 1px solid black;
    border-radius: 50%;
    height: 60px;
    width: 60px;
}

.calendar-week-days {
    margin-bottom: 16px;
}

@media (max-width: 768px) {
    .calendar-day-button {
        height: 45px;
        width: 45px;
        font-size: 11px;
    }
}